<h1>
    {{ maintenence.main_date }}
</h1>

<div>
    <li>공용 난방 : {{ maintenence.heatc }} 원</li>
    <li>전용 난방 : {{ maintenence.heatp }} 원</li>
    <li>공용 전기 : {{ maintenence.electc }} 원</li>
    <li>전용 전기 : {{ maintenence.electp }} 원</li>
    <li>공용 가스 : {{ maintenence.gasc }} 원</li>
    <li>전용 가스 : {{ maintenence.gasp }} 원</li>
    <li>공용 급탕 : {{ maintenence.waterhotc }} 원</li>
    <li>전용 급탕 : {{ maintenence.waterhotp }} 원</li>
    <li>공용 수도 : {{ maintenence.watercoolc }} 원</li>
    <li>전용 수도 : {{ maintenence.watercoolp }} 원</li>
    <li>생활폐기물 : {{ maintenence.domesticwaste }} 원</li>
    <li>정화조오물 : {{ maintenence.waterpruifier }} 원</li>
    <li>입주자대표회의 : {{ maintenence.representation }} 원</li>
    <li>선거관리위원회 : {{ maintenence.election }} 원</li>
    <li>건물보험료 : {{ maintenence.buildingin }} 원</li>
</div>