<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>아파트 관리 시스템</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    {%block content%}
                <main>
                    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                        <div class="container-xl px-4">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="map"></i></div>
                                            주차장 상태 확인
                                        </h1>
                                        <div class="page-header-subtitle">현재 주차장 현황을 파악할 수 있습니다</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-xl px-4 mt-n10">
                        <div class="card mb-4">
                            <div class="container-xl px-4 mt-4">
                                <!-- Account page navigation-->
                                <nav class="nav nav-borders">
                                    <a class="nav-link" href="parking-1.html">1층</a>
                                    <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/parking-1-BF2.html">2층</a>
                                    <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/parking-1-BF3.html">3층</a>
                                </nav>
                                <hr class="mt-0 mb-4" />
                                <!-- 여기서부터 코드 시작 -->
                                <div class="row"> 
                                    <head>
                                        <meta charset="UTF-8">
                                        <title>영화관 좌석 배치</title>
                                        <link href="{% static 'css/styleparking.css' %}" rel="stylesheet" />
                                        <style>
                                            *{
                                                box-sizing: border-box;
                                            }
                                            .float-box > div{
                                                float:left;
                                                width:30%;
                                            }
                                            .float-box::after{
                                                content:"";
                                                display: block;
                                                clear:both;
                                            }
                                            .float-box > .result {
                                                padding:0.5rem;
                                            }
                                        </style>
                                            <script src="{% static 'js/parking.js' %}"></script>
                                        <script>
                                            window.addEventListener("load", function(){
                                                var parking = new Hacademy.Reservation("#parking");
                                                parking.addChangeListener(function(seat){
                                                    print(this);
                                                });
                                                print(parking);
                                                function print(app){
                                                    document.querySelector(".result").textContent = app.getQueryString();
                                                }
                                            });
                                        </script>
                                    </head>

                                    <body>
                                        <!-- <h1 align="center">Demo 4 : Client manual single mode</h1>
                                        <ul>
                                            <li>사용자가 좌석을 하나만 선택하는 경우</li>
                                            <li>.cinema-seat-area에 data-mode="client"로 설정하거나 미작성 시 사용자 모드 설정</li>
                                            <li>.cinema-seat-area에 data-fill="manual"로 설정하여 수동 모드 설정</li>
                                            <li>좌석번호를 표시하고 싶은 경우 .cinema-seat-area에 data-seatno="visible"로 설정</li>
                                            <li>좌석에 상태에 맞게 data-state, data-direction 등을 설정해야 함(데이터베이스에 저장된 값을 불러와야함)</li>
                                            <li>좌석번호는 현재 임의의 수정이 불가</li>
                                            <li>좌석 열 수를 벗어나는 좌석은 삭제됨</li>
                                            <li>좌석 칸 수를 벗어나는 좌석은 삭제됨</li>
                                            <li>한 좌석씩만 선택되게 하고 싶으면 .cinema-seat-area에 data-choice="single"로 설정(기본값 multiple)</li>
                                        </ul> -->
                                        <div class="float-box">
                                            <div style="width: 95%;">
                                                <form action="reserve-parking-complete.html" method="get">
                                                    <div id="parking" class="parking-wrap" data-name="seat" style="top:0%; left:0%; width:100%; height: 100%;">
                                                        <div id="parking-zone" class="parking-seat-area" data-rowsize="10" data-colsize="20" data-mode="client" data-fill="manual" data-seatno="visible" data-choice="single">
                                                            <!-- <div class="parking-seat" data-row="1" data-col="1" data-direction="up"></div>
                                                            <div class="parking-seat" data-row="1" data-col="2" data-state="space"></div> -->
                                                        </div>
                                                    </div>
                                                    <br>
                                                </form> 
                                            </div>
                                        </div>
                                    </body>
                                </div> 
                                <!-- 여기까지 코드 다 들어가야 함 -->
                            </div>
                        </div>
                    </div>
                    {%endblock%}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables/datatables-simple-demo.js' %}"></script>
        <script>
            const pzone = document.getElementById("parking-zone")
            for(let x = 1; x < 21; x++){
                for(let y = 1; y < 11; y++){
                    let parking = document.createElement("div") // div 생성
                    parking.className = "parking-seat"
                    parking.setAttribute("data-row", y.toString())
                    parking.setAttribute("data-col", x.toString())

                    if(y == 2 && (x > 1 && x < 20)){
                        parking.setAttribute("data-state", "space")  // 빈 공간
                    }
                    else if(y == 9 && (x > 1 && x < 20)){
                        parking.setAttribute("data-state", "space")  // 빈 공간
                    }
                    else if(y == 5 && (x > 1 && x < 21)){
                        parking.setAttribute("data-state", "space")  // 빈 공간
                    }
                    else if(y == 6 && (x > 1 && x < 21)){
                        parking.setAttribute("data-state", "space")  // 빈 공간
                    }
                    else if(x == 2 && (y > 1 && y < 10)){
                        parking.setAttribute("data-state", "space")  // 빈 공간
                    }
                    else if(x == 19 && (y > 1 && y < 10)){
                        parking.setAttribute("data-state", "space")  // 빈 공간
                    }
                    else if(y == 1 && (x ==1)){
                        parking.setAttribute("data-state", "space")  // 모서리 기둥
                    }
                    else if(y == 1 && (x==20)){
                        parking.setAttribute("data-state", "space")  // 모서리 기둥
                    }
                    else if(y == 10 && (x == 1)){
                        parking.setAttribute("data-state", "space")  // 모서리 기둥
                    }
                    else if(y == 10 && (x==20)){
                        parking.setAttribute("data-state", "space")  // 모서리 기둥
                    }
                    else{
                        parking.setAttribute("data-direction", "up")
                    }

                    
                    pzone.appendChild(parking)
                }
            }
        </script>
    </body>
</html>

