<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Register - SB Admin Pro</title>
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container-xl px-4">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <!-- Basic registration form-->
                                <div class="card shadow-lg border-0 rounded-lg mt-3">
                                    <div class="card-header justify-content-center"><h1 class="fw-light my-1">회원가입</h3></div>
                                    <div class="card-body">

                                        <!-- Registration form-->
                                        <form>
                                                <!-- Form Group (ID)-->
                                            <div class="mb-1">
                                                <label class="small mb-1" for="inputID">ID</label>
                                                <input class="form-control" id="inputID" type="email" aria-describedby="emailHelp" placeholder="Enter ID" />
                                            </div>
                                            <!-- Form Row    -->
                                            <div class="row gx-3">
                                                <div class="col-md-6">
                                                    <!-- Form Group (password)-->
                                                    <div class="mb-1">
                                                        <label class="small mb-1" for="inputPassword">비밀번호</label>
                                                        <input class="form-control" id="inputPassword" type="password" placeholder="Enter password" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- Form Group (confirm password)-->
                                                    <div class="mb-1">
                                                        <label class="small mb-1" for="inputConfirmPassword">비밀번호 확인</label>
                                                        <input class="form-control" id="inputConfirmPassword" type="password" placeholder="Confirm password" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Form Row-->
                                            <div class="row gx-3">
                                                <div class="col-md-6">
                                                    <!-- Form Group (first name)-->
                                                    <div class="mb-1">
                                                        <label class="small mb-1" for="inputFirstName">성</label>
                                                        <input class="form-control" id="inputFirstName" type="text" placeholder="Enter first name" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- Form Group (last name)-->
                                                    <div class="mb-1">
                                                        <label class="small mb-1" for="inputLastName">이름</label>
                                                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter last name" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Form Row-->
                                            <div class="row gx-3">
                                                <div class="col-md-6">
                                                    <!-- Form Group (building)-->
                                                    <div class="mb-1">
                                                        <label class="small mb-1" for="inputbuilding_number">동</label>
                                                        <input class="form-control" id="inputbuilding_number" type="text" placeholder="Enter building No." />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- Form Group (room)-->
                                                    <div class="mb-1">
                                                        <label class="small mb-1" for="inputroom_number">호</label>
                                                        <input class="form-control" id="inputroom_number" type="text" placeholder="Enter room No." />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Form Row-->
                                            <div class="row gx-3">
                                                <div class="col-md-6">
                                                    <!-- Form Group (phone_number)-->
                                                    <div class="mb-1">
                                                        <label class="small mb-1" for="inputphone_number">전화번호</label>
                                                        <input class="form-control" id="inputphone_number" type="text" placeholder="Enter phone number" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- Form Group (grade)-->
                                                    <div class="mb-1">
                                                        <label class="small mb-1" for="inputgrade">등급</label>
                                                        <input class="form-control" id="inputgrade" type="text" placeholder="Enter grade" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Form Row-->
                                            <div class="row gx-3">
                                                <div class="col-md-6">
                                                    <!-- Form Group (owner_name)-->
                                                    <div class="mb-1">
                                                        <label class="small mb-1" for="inputowner_name">세대주</label>
                                                        <input class="form-control" id="inputowner_name" type="text" placeholder="Enter owner name" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- Form Group (email)-->
                                                    <div class="mb-1">
                                                        <label class="small mb-1" for="inputEmailAddress">E-mail</label>
                                                        <input class="form-control" id="inputEmailAddress" type="text" placeholder="Enter E-mail" />
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <!-- Form Group (create account submit)-->
                                            <a class="btn btn-primary btn-block" href="auth-login-basic.html">회원가입</a>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="auth-login-basic.html">이미 회원이신가요?</a></div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="footer-admin mt-auto footer-dark">
                    <div class="container-xl px-4">
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
