<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>아파트 관리 시스템</title>
        <link href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/css/styles.css" rel="stylesheet" />
        <link href="https://unpkg.com/easymde/dist/easymde.min.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
            <!-- Sidenav Toggle Button-->
            <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button>
            <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/index.html">아파트 관리 시스템</a>
            <!-- Navbar Search Input-->
            <form class="form-inline me-auto d-none d-lg-block me-3">
                <div class="input-group input-group-joined input-group-solid">
                </div>
            </form>
            <!-- Navbar Items-->
            <ul class="navbar-nav align-items-center ms-auto">
                <!-- Navbar Search Dropdown-->
                <li class="nav-item dropdown no-caret me-3 d-lg-none">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="searchDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="search"></i></a>
                    <!-- Dropdown - Search-->
                    <div class="dropdown-menu dropdown-menu-end p-3 shadow animated--fade-in-up" aria-labelledby="searchDropdown">
                        <form class="form-inline me-auto w-100">
                            <div class="input-group input-group-joined input-group-solid">
                                <input class="form-control pe-0" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                                <div class="input-group-text"><i data-feather="search"></i></div>
                            </div>
                        </form>
                    </div>
                </li>
                <!-- User Dropdown-->
                <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/assets/img/illustrations/profiles/profile-1.png" /></a>
                    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <img class="dropdown-user-img" src="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/assets/img/illustrations/profiles/profile-1.png" />
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name">홍길동</div>
                                <div class="dropdown-user-details-email">abc123@database.com</div>
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/mypage-profile.html">
                            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                            설정
                        </a>
                        <a class="dropdown-item" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/logout.html">
                            <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                            로그아웃
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">
                            <!-- Sidenav Heading (Custom)-->
                            <div class="sidenav-menu-heading"></div>
                            <!-- Sidenav Accordion (Pages)-->
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="nav-link-icon"></i></div>
                                게시판
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                                    <!-- Nested Sidenav Accordion (Pages -> Account)-->
                                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAccount" aria-expanded="false" aria-controls="pagesCollapseAccount">
                                        공지 게시판
                                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAccount" data-bs-parent="#accordionSidenavPagesMenu">
                                        <nav class="sidenav-menu-nested nav">
                                            <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/board-danji.html">단지 게시판</a>
                                            <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/board-dong.html">동 게시판</a>
                                        </nav>
                                    </div>
                                    <!-- Nested Sidenav Accordion (Pages -> Authentication)-->
                                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        민원 게시판
                                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" data-bs-parent="#accordionSidenavPagesMenu">
                                        <nav class="sidenav-menu-nested nav">
                                            <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/complaint-danji.html">단지 게시판</a>
                                            <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/complaint-dong.html">동 게시판</a>
                                        </nav>
                                    </div>

                                    <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/joonggo.html">중고거래 게시판</a>
                                    <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/lost.html">분실물 게시판</a>
                                </nav>
                            </div>
                            <!-- Sidenav Accordion (Applications)-->
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseApps" aria-expanded="false" aria-controls="collapseApps">
                                <div class="nav-link-icon"></i></div>
                                관리비
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseApps" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavAppsMenu">
                                    <!-- Nested Sidenav Accordion (Apps -> Knowledge Base)-->
                                    <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/maintenance-fee-1.html">관리비 고지서</a>
                                    <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/maintenance-fee-2.html">관리비 그래프</a>
                                    <div class="collapse" id="appsCollapsePostsManagement" data-bs-parent="#accordionSidenavAppsMenu">
                                        <!-- <nav class="sidenav-menu-nested nav">
                                            <a class="nav-link" href="blog-management-posts-list.html">Posts List</a>
                                            <a class="nav-link" href="blog-management-create-post.html">Create Post</a>
                                            <a class="nav-link" href="blog-management-edit-post.html">Edit Post</a>
                                            <a class="nav-link" href="blog-management-posts-admin.html">Posts Admin</a>
                                        </nav> -->
                                    </div>
                                </nav>
                            </div>
                            <!-- Sidenav Accordion (Flows)-->
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseFlows" aria-expanded="false" aria-controls="collapseFlows">
                                <div class="nav-link-icon"></i></div>
                                주차
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseFlows" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/parking-1.html">주차장 상태 확인</a>
                                    <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/parking-2.html">입출차 현황 조회</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="nav-link-icon"></i></div>
                                시설
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/reserve-health.html">헬스장</a>
                                    <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/reserve-swim.html">수영장</a>
                                    <a class="nav-link" href="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/reserve-study.html">독서실</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-fluid px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="file-text"></i></div>
                                            중고거래 게시판
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-fluid px-4">
                        <div class="row gx-4">
                            <div class="col-lg-8">
                                <div class="card mb-4">
                                    <div class="card-header">제목</div>
                                    <div class="card-body"><h5>에어팟 프로 팔아요</h5></div>
                                </div>
                                <div class="card card-header-actions mb-4 mb-lg-0">
                                    <div class="card-header">
                                        내용 
                                    </div>
                                    <div class="card-body">
                                        <img class="img-fluid" src="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/assets/img/download/joonggo1.jpg" style="width: 50%;" alt="..." />
                                        <br>
                                        <br>
                                        <h5>이것은 내용 이것은 내용 이것은 내용 이것은 내용</h5>
                                        <h5>이것은 내용 이것은 내용 이것은 내용 이것은 내용</h5>
                                        <h5>이것은 내용 이것은 내용 이것은 내용 이것은 내용</h5>
                                        <h5>이것은 내용 이것은 내용 이것은 내용 이것은 내용</h5>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </main>
                <footer class="footer-admin mt-auto footer-light">
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/js/scripts.js"></script>
        <script src="https://unpkg.com/easymde/dist/easymde.min.js" crossorigin="anonymous"></script>
        <script src="../../../../OneDrive/바탕%20화면/DB-final/DB-final/Frontend/dist/js/markdown.js"></script>
    </body>
</html>
